/*Configuración global de CSS web 2*/
/*Selector universal*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px; 
}  
/*Selector por etiqueta*/
header{
    background: #27538C;
    text-align: center;
    color:white;
    padding: 10px;
}

footer{
    background: #27538C;
    text-align: center;
    color:white;
    line-height: 70px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #1E3C40;
}

footer a{
    color:aliceblue;
}

/*Selector por ID*/
#contenido{
    border: 2px solid #1E3C40;
    padding: 10px;
}

#principal{
    margin-left: 20%;
}

#descripcion {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    margin: 15px;
}

#menu{
    background-color: #EEE;
}

#menu ul li{
    display: block;
    float:left;
    border-right: 2px solid #1E3C40;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color:#444
}

#menu ul li:hover{
background: rgb(191, 165, 163);
cursor: pointer;
}

#menu ul li:hover a{
    color:white
}

#contenido table{
    margin: auto
}

#contenido h2{
    text-align: center;
    color: #30A9D9;
    margin: 10px;
}

#contenido form{
    border: 3px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#frm-inscripcion *{
    display: inline-block;
}

input[type="text"], select{
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}
input[type="submit"], button{
    background: #F28177 ;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/*Selector por clase*/
.clearFix{
    float: none;
    clear: both;
}